@import '../../../vars.scss';

.login-page {
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(19,19,19,1) 0%, rgba(30,30,30,1) 35%, rgba(44,44,44,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  border-radius: $primary-space * 2;
  background: $primary-text-color;
  padding: 40px 40px;
  box-shadow: 5px 5px 18px -5px rgb(0, 0, 0);

  &__header {
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
    color: $third-text-color;
  }

  &__field {
    margin: 10px 0;
    &-input {
      border: 2px solid $third-text-color;
      border-radius: $primary-space;
      padding: 10px 15px;
      outline: none;
      color: $side-nav-first-color;
      transition: border-color .3s ease;

      &:focus, &:hover {
        border-color: $button-first-color;
      }
    }
  }

  &__submit-btn {
    outline: none;
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 8px;
    border: none;
    background-color: $button-first-color;
    color: $primary-text-color;
    text-align: center;
    cursor: pointer;
    transition: background-color .3s ease;

    &:hover {
      background-color: $button-secondary-color;
    }
  }
}
