<div class="side-nav">
  <div class="side-nav__header-panel">
    <button class="side-nav__header-panel__logout-btn" (click)="onLogoutButtonClick()">
      <mat-icon>exit_to_app</mat-icon>
    </button>

    <div class="side-nav__header-panel__details">
      <h1>GALLERY APP</h1>
      <h4>by Jakub Makaruk</h4>
    </div>

    <div class="side-nav__header-panel__upload">
      <app-upload-file></app-upload-file>
    </div>
  </div>

  <div class="side-nav__divider"></div>

  <div class="side-nav__center-panel">
    <app-galleries-nav></app-galleries-nav>
  </div>

  <div class="side-nav__divider"></div>

  <div class="side-nav__footer">
    <app-copyright-panel></app-copyright-panel>
  </div>
</div>
