<div class="side-nav">
  <div class="side-nav__header-panel">
    <div class="side-nav__header-panel__user-details">
      <app-user-details></app-user-details>
    </div>

    <div class="side-nav__header-panel__upload">
      <app-upload-file></app-upload-file>
    </div>
  </div>

  <div class="side-nav__divider"></div>

  <div class="side-nav__center-panel">
    <app-galleries-nav></app-galleries-nav>
  </div>

  <div class="side-nav__divider"></div>

  <div class="side-nav__footer">
    <app-copyright-panel></app-copyright-panel>
  </div>
</div>
