<div class="galleries-nav">
  <div class="galleries-nav__element galleries-nav__header">
    <p>GALLERIES</p>
    <button class="galleries-nav__header__btn-create-gallery"
            (click)="createGallery()">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  <div class="galleries-nav__element galleries-nav__element--clickable">
    <p>Moja pierwsza Galeria</p>
  </div>
  <div class="galleries-nav__element galleries-nav__element--clickable">
    <p>Moja druga Galeria</p>
  </div>
  <div class="galleries-nav__element galleries-nav__element--clickable">
    <p>Trzecia Galeria</p>
  </div>
</div>
