<div class="galleries-nav">
  <div class="galleries-nav__element galleries-nav__header">
    <p>GALLERIES</p>
    <button class="galleries-nav__header__btn-create-gallery"
            (click)="createGallery()">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  <a *ngFor="let gallery of galleries"
       class="galleries-nav__element galleries-nav__element--clickable"
       [routerLink]="['/galleries', gallery.id]"
       [routerLinkActive]="'active'">
    <p>{{ gallery.name }}</p>
    <button class="galleries-nav__header__btn-delete-gallery">
      <i class="fa-solid fa-trash"></i>
    </button>
  </a>
</div>
