$side-nav-first-color: #2c2c2c;
$side-nav-secondary-color: #1e1e1e;
$side-nav-third-color: #131313;
$primary-text-color: #f6f6f6;
$secondary-text-color: #c3c3c3;
$third-text-color: #565656;

$divider-color: #1c1c1c;

$upload-button-first-color: #d35848;
$upload-button-secondary-color: #e67060;
$delete-button-first-color: #dc4949;
$delete-button-secondary-color: #ef8181;

$primary-space: 8px;
